.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
}

.my-dialog {
  position: fixed;
  width: 40vw;
  height: auto;
  top: 20vh;
  left: 30vw;
  z-index: 70;
  background: #fff;
}
